<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877909313313-i7er4hissvd7jrjdob18gt91aenopvcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877909313313-i7er4hissvd7jrjdob18gt91aenopvcg</string>
	<key>API_KEY</key>
	<string>AIzaSyAmUIk7llpSYPZ8hz3oPA6ITFJzmPZn1WA</string>
	<key>GCM_SENDER_ID</key>
	<string>877909313313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HSE.RSS-READER</string>
	<key>PROJECT_ID</key>
	<string>rss-reader-fa160</string>
	<key>STORAGE_BUCKET</key>
	<string>rss-reader-fa160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877909313313:ios:d759a7c629e3c2c3e9a060</string>
	<key>DATABASE_URL</key>
	<string>https://rss-reader-fa160.firebaseio.com</string>
</dict>
</plist>